---
---

<div>
  <p>
    Here are a few reasons why you will love this template:
  </p>
  <ul class="mt-5">
    <li>
      <strong>中文.</strong>
      一个丰富的 <a href="https://astro.build" target="_blank">太空</a> 系列主题搭配 <a href="https://tailwindcss.com">顺风</a>.
    </li>
    <li>
      <strong>快速.</strong>
      默认超速. Blogster其拥有高表现力引擎和载入速度,在你思考的分分钟,并且从不马虎.
    </li>
    <li>
      <strong>暗黑模式.</strong> 手动点击亦可自动适配暗黑模式,点击顶部切换按钮即时变换。
    </li>
    <li>
      <strong>移动端优化.</strong> 响应式设计所有设备端.
    </li>
    <li>
      <strong>易用的.</strong> 好用又好看的页面和布局.
    </li>
    <li>
      <strong>高渲染分数.</strong> 页面100分.
    </li>
    <li>
      <strong>人人皆可使用.</strong> 文章使用降价编辑器
      (<code>.md</code>) 也能从GitHub实时多人协作.
    </li>
    <li>
      <span>
        <strong>拓展编辑</strong> with 
        <a href="https://markdoc.dev">Markdoc</a>.
      </span>
      <span>
        支持以下类型 YouTube embed, Twitter embed (只有你想不到) 在你的降价语言 (<code>.md</code>) 文件里.</span
      >
    </li>
    <li>
      建立于 <strong>订阅流</strong> 适用于你的博客<strong>
        搜索引擎优化</strong
      > 等等.
    </li>
  </ul>
</div>
